.containerContact{
    padding: 5em 3em;
    background-color: #ccc;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
input{
    border: none;
    border-bottom: 2.2px solid black;
}
#textareas{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;

}
.containerContact-left{
    width: 52%;
    padding: 3em;
    background-color: white;
}
.containerContact-right{
    width: 38%;
}
.contain{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.big-input{
    margin: 1em 0;
    width: 100%;
    height: 3em;
}
.small-input{
    margin: 1em 0;
    width: 100%;
    height: 3em;
}
.containerContact-small{
    width: 48%;
}
#textareas{
    margin: 1em 0;
    width: 100%;
    padding: 5px;
}
textarea:focus{
    border: 2.5px solid black;
}
textarea:focus::placeholder{
    opacity: 0;
}
#btn7,#btn8{
    color: white;
    font-size: 1em;
    font-weight: 1000;
    padding: 0.6em 2em;
    border: none;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}
#btn7:hover,#btn8:hover{
    color: black;
    background-color: transparent;
    border: 2px solid black;
}
.containerContact-right-top{
    padding: 1em;
    margin-bottom: 2em;
    background-color: white;
}
.containerContact-right-top>p{
    font-size: 1.1em;
    margin-top: 1em;
}
.containerContact-right-bottom{
    padding: 1em;
    background-color: white;
}

input:focus{
    border-bottom: 3px solid black;
}
input:focus::placeholder{
    color: transparent;
}
.containerContact-right-bottom>h1{
    font-weight: 1000;
}
.containerContact-right-bottom>p{
    margin: 1em 0;
    font-size: 1em;
}
.bold-p{
    font-weight: 1000;
}

  @media (max-width:768px) {
    .containerContact-right{
      margin-top: 2em !important;
      width: 100% !important;
    }
    .containerContact-left{
      width: 100% !important;
    } 
    .contain{
        display: block;
    }
    .containerContact-small{
        width: 100%;
    }
  }
  @media (max-width:350px) {
    .containerContact-left{
        padding: 1em;
    }
  }